@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Poppins";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 87.5rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.icon-menu {
  display: none;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 50;
}

.header-top {
  background-color: #020202;
  line-height: 44px;
}

.header-top__items {
  min-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item-header-top {
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1.5;
}

@supports (font-size: clamp( 0.6875rem , 0.6115550141rem  +  0.158222841vw , 0.75rem )) {
  .item-header-top {
    font-size: clamp( 0.6875rem , 0.6115550141rem  +  0.158222841vw , 0.75rem );
  }
}

@supports not (font-size: clamp( 0.6875rem , 0.6115550141rem  +  0.158222841vw , 0.75rem )) {
  .item-header-top {
    font-size: calc(0.6875rem + 0.0625 * (100vw - 47.99875rem) / 39.50125);
  }
}

.item-header-top_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-header-top__select {
  background-color: #020202;
  color: #fff;
}

@supports (font-size: clamp( 0.6875rem , 0.6115550141rem  +  0.158222841vw , 0.75rem )) {
  .item-header-top__select {
    font-size: clamp( 0.6875rem , 0.6115550141rem  +  0.158222841vw , 0.75rem );
  }
}

@supports not (font-size: clamp( 0.6875rem , 0.6115550141rem  +  0.158222841vw , 0.75rem )) {
  .item-header-top__select {
    font-size: calc(0.6875rem + 0.0625 * (100vw - 47.99875rem) / 39.50125);
  }
}

.item-header-top__option {
  font-size: 0.6875rem;
  background-color: #020202;
}

.item-header-top__location {
  color: #acacac;
}

.item-header-top__location:not(:last-child) {
  margin: 0px 5px 0px 0px;
}

.item-header-top__contact {
  color: #fff;
}

.item-header-top__contact:hover {
  text-decoration: underline;
}

.item-header-top__tel {
  color: #fff;
}

.item-header-top__tel:not(:last-child) {
  margin: 0px 10px 0px 0px;
}

.item-header-top__tel:hover {
  text-decoration: underline;
}

.item-header-top__social:not(:last-child) {
  margin: 0px 8px 0px 0px;
}

.item-header-top__icon {
  max-width: 20px;
  max-height: 20px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item-header-top__icon:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.header-bottom {
  background-color: #fff;
}

.header-bottom__container {
  min-height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-bottom__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 34px;
          flex: 0 0 34px;
}

@supports (margin-right: clamp( 0.3125rem , -3.5781616286rem  +  8.105756147vw , 3.514375rem )) {
  .header-bottom__logo:not(:last-child) {
    margin-right: clamp( 0.3125rem , -3.5781616286rem  +  8.105756147vw , 3.514375rem );
  }
}

@supports not (margin-right: clamp( 0.3125rem , -3.5781616286rem  +  8.105756147vw , 3.514375rem )) {
  .header-bottom__logo:not(:last-child) {
    margin-right: calc(0.3125rem + 3.201875 * (100vw - 47.99875rem) / 39.50125);
  }
}

.header-bottom__image {
  max-width: 100%;
  max-height: 40.05px;
}

.header-bottom__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 1.5;
}

.header-bottom__menu:not(:last-child) {
  margin: 0px 10px 0px 0px;
}

.header-bottom__button {
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: #0156ff;
  min-height: 37px;
  min-width: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: 2px solid #0156ff;
  border-radius: 50px;
  padding: 8px 26px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-bottom__button:hover {
  background: #0156ff;
  color: #fff;
}

.menu-open .menu__body {
  left: 0;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 37px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 10px;
}

@supports (margin-right: clamp( 0.625rem , -0.5141747888rem  +  2.3733426157vw , 1.5625rem )) {
  .menu__item {
    margin-right: clamp( 0.625rem , -0.5141747888rem  +  2.3733426157vw , 1.5625rem );
  }
}

@supports not (margin-right: clamp( 0.625rem , -0.5141747888rem  +  2.3733426157vw , 1.5625rem )) {
  .menu__item {
    margin-right: calc(0.625rem + 0.9375 * (100vw - 47.99875rem) / 39.50125);
  }
}

.menu__item:hover {
  text-decoration: underline;
}

.icons-header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.icons-header-bottom__input {
  font-size: 0.6875rem;
  border-radius: 20px;
  min-height: 38px;
  padding: 0px 38px;
  color: #cacdd8;
  position: relative;
}

.icons-header-bottom__input::-webkit-input-placeholder {
  color: #cacdd8;
  font-size: 0.6875rem;
  width: 300px;
  line-height: 1.4545454545;
  position: absolute;
  top: 12px;
}

.icons-header-bottom__input::-moz-placeholder {
  color: #cacdd8;
  font-size: 0.6875rem;
  width: 300px;
  line-height: 1.4545454545;
  position: absolute;
  top: 12px;
}

.icons-header-bottom__input:-ms-input-placeholder {
  color: #cacdd8;
  font-size: 0.6875rem;
  width: 300px;
  line-height: 1.4545454545;
  position: absolute;
  top: 12px;
}

.icons-header-bottom__input::-ms-input-placeholder {
  color: #cacdd8;
  font-size: 0.6875rem;
  width: 300px;
  line-height: 1.4545454545;
  position: absolute;
  top: 12px;
}

.icons-header-bottom__input::placeholder {
  color: #cacdd8;
  font-size: 0.6875rem;
  width: 300px;
  line-height: 1.4545454545;
  position: absolute;
  top: 12px;
}

@supports (width: clamp( 14.1875rem , -3.1660591603rem  +  74.0458015267vw , 32.375rem )) {
  .icons-header-bottom__input {
    width: clamp( 14.1875rem , -3.1660591603rem  +  74.0458015267vw , 32.375rem );
  }
}

@supports not (width: clamp( 14.1875rem , -3.1660591603rem  +  74.0458015267vw , 32.375rem )) {
  .icons-header-bottom__input {
    width: calc(14.1875rem + 18.1875 * (100vw - 23.43625rem) / 24.5625);
  }
}

.icons-header-bottom__item {
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.icons-header-bottom__item:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.icons-header-bottom__search {
  margin: 0px 25px 0px 0px;
  width: 19px;
  height: 19px;
}

.icons-header-bottom__cart {
  margin: 0px 28px 0px 0px;
  width: 19px;
  height: 19px;
}

.icons-header-bottom__cart-tablet {
  margin: 0px 28px 0px 0px;
  width: 20px;
  height: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.icons-header-bottom__span {
  color: #fff;
  font-size: 0.625rem;
  line-height: 1.5;
  font-weight: 700;
  text-align: center;
  position: absolute;
  top: -10px;
  right: 17px;
  background-color: #0156ff;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.icons-header-bottom__login {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.icons-header-bottom__login-tablet {
  margin: 0px 23px 0px 0px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

@supports (margin-right: clamp( 0.8125rem , 0.2035989717rem  +  2.5706940874vw , 1.4375rem )) {
  .icons-header-bottom__login-tablet {
    margin-right: clamp( 0.8125rem , 0.2035989717rem  +  2.5706940874vw , 1.4375rem );
  }
}

@supports not (margin-right: clamp( 0.8125rem , 0.2035989717rem  +  2.5706940874vw , 1.4375rem )) {
  .icons-header-bottom__login-tablet {
    margin-right: calc(0.8125rem + 0.625 * (100vw - 23.68625rem) / 24.3125);
  }
}

.footer {
  background-color: #020203;
}

@supports (padding-left: clamp( 0.9375rem , -6.4353578098rem  +  15.3605204506vw , 4.125rem )) {
  .footer__container {
    padding-left: clamp( 0.9375rem , -6.4353578098rem  +  15.3605204506vw , 4.125rem );
  }
}

@supports not (padding-left: clamp( 0.9375rem , -6.4353578098rem  +  15.3605204506vw , 4.125rem )) {
  .footer__container {
    padding-left: calc(0.9375rem + 3.1875 * (100vw - 47.99875rem) / 20.75125);
  }
}

@supports (padding-right: clamp( 0.9375rem , -6.4353578098rem  +  15.3605204506vw , 4.125rem )) {
  .footer__container {
    padding-right: clamp( 0.9375rem , -6.4353578098rem  +  15.3605204506vw , 4.125rem );
  }
}

@supports not (padding-right: clamp( 0.9375rem , -6.4353578098rem  +  15.3605204506vw , 4.125rem )) {
  .footer__container {
    padding-right: calc(0.9375rem + 3.1875 * (100vw - 47.99875rem) / 20.75125);
  }
}

.footer__top {
  padding: 47px 0px 0px 0px;
}

.top-footer {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  row-gap: 15px;
}

.top-footer:not(:last-child) {
  margin: 0px 0px 45px 0px;
}

.top-footer__body {
  margin: 0px 15px 0px 0px;
}

.top-footer__title {
  font-weight: 500;
  line-height: 1.3157894737;
  text-transform: capitalize;
}

@supports (font-size: clamp( 1.125rem , -0.3938997184rem  +  3.164456821vw , 2.375rem )) {
  .top-footer__title {
    font-size: clamp( 1.125rem , -0.3938997184rem  +  3.164456821vw , 2.375rem );
  }
}

@supports not (font-size: clamp( 1.125rem , -0.3938997184rem  +  3.164456821vw , 2.375rem )) {
  .top-footer__title {
    font-size: calc(1.125rem + 1.25 * (100vw - 47.99875rem) / 39.50125);
  }
}

@supports (margin-bottom: clamp( 0.3125rem , 0.0087200563rem  +  0.6328913642vw , 0.5625rem )) {
  .top-footer__title:not(:last-child) {
    margin-bottom: clamp( 0.3125rem , 0.0087200563rem  +  0.6328913642vw , 0.5625rem );
  }
}

@supports not (margin-bottom: clamp( 0.3125rem , 0.0087200563rem  +  0.6328913642vw , 0.5625rem )) {
  .top-footer__title:not(:last-child) {
    margin-bottom: calc(0.3125rem + 0.25 * (100vw - 47.99875rem) / 39.50125);
  }
}

.top-footer__text {
  font-weight: 300;
  line-height: 1.3125;
}

@supports (font-size: clamp( 0.75rem , 0.4462200563rem  +  0.6328913642vw , 1rem )) {
  .top-footer__text {
    font-size: clamp( 0.75rem , 0.4462200563rem  +  0.6328913642vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.75rem , 0.4462200563rem  +  0.6328913642vw , 1rem )) {
  .top-footer__text {
    font-size: calc(0.75rem + 0.25 * (100vw - 47.99875rem) / 39.50125);
  }
}

.top-footer__input {
  font-size: 0.875rem;
  font-weight: 300;
  background-color: #000;
  border: 2px solid #ffffff;
  border-radius: 4px;
  color: #fff;
  padding: 0px 12px;
}

@supports (margin-right: clamp( 0.5rem , -0.6391747888rem  +  2.3733426157vw , 1.4375rem )) {
  .top-footer__input {
    margin-right: clamp( 0.5rem , -0.6391747888rem  +  2.3733426157vw , 1.4375rem );
  }
}

@supports not (margin-right: clamp( 0.5rem , -0.6391747888rem  +  2.3733426157vw , 1.4375rem )) {
  .top-footer__input {
    margin-right: calc(0.5rem + 0.9375 * (100vw - 47.99875rem) / 39.50125);
  }
}

@supports (min-height: clamp( 2.375rem , 1.463660169rem  +  1.8986740926vw , 3.125rem )) {
  .top-footer__input {
    min-height: clamp( 2.375rem , 1.463660169rem  +  1.8986740926vw , 3.125rem );
  }
}

@supports not (min-height: clamp( 2.375rem , 1.463660169rem  +  1.8986740926vw , 3.125rem )) {
  .top-footer__input {
    min-height: calc(2.375rem + 0.75 * (100vw - 47.99875rem) / 39.50125);
  }
}

@supports (width: clamp( 18.75rem , 11.8390062814rem  +  14.3982785355vw , 24.4375rem )) {
  .top-footer__input {
    width: clamp( 18.75rem , 11.8390062814rem  +  14.3982785355vw , 24.4375rem );
  }
}

@supports not (width: clamp( 18.75rem , 11.8390062814rem  +  14.3982785355vw , 24.4375rem )) {
  .top-footer__input {
    width: calc(18.75rem + 5.6875 * (100vw - 47.99875rem) / 39.50125);
  }
}

.top-footer__input::-webkit-input-placeholder {
  text-transform: capitalize;
  font-weight: 300;
}

.top-footer__input::-moz-placeholder {
  text-transform: capitalize;
  font-weight: 300;
}

.top-footer__input:-ms-input-placeholder {
  text-transform: capitalize;
  font-weight: 300;
}

.top-footer__input::-ms-input-placeholder {
  text-transform: capitalize;
  font-weight: 300;
}

.top-footer__input::placeholder {
  text-transform: capitalize;
  font-weight: 300;
}

@supports (font-size: clamp( 0.6875rem , 0.4596650422rem  +  0.4746685231vw , 0.875rem )) {
  .top-footer__input::-webkit-input-placeholder {
    font-size: clamp( 0.6875rem , 0.4596650422rem  +  0.4746685231vw , 0.875rem );
  }
  .top-footer__input::-moz-placeholder {
    font-size: clamp( 0.6875rem , 0.4596650422rem  +  0.4746685231vw , 0.875rem );
  }
  .top-footer__input:-ms-input-placeholder {
    font-size: clamp( 0.6875rem , 0.4596650422rem  +  0.4746685231vw , 0.875rem );
  }
  .top-footer__input::-ms-input-placeholder {
    font-size: clamp( 0.6875rem , 0.4596650422rem  +  0.4746685231vw , 0.875rem );
  }
  .top-footer__input::placeholder {
    font-size: clamp( 0.6875rem , 0.4596650422rem  +  0.4746685231vw , 0.875rem );
  }
}

@supports not (font-size: clamp( 0.6875rem , 0.4596650422rem  +  0.4746685231vw , 0.875rem )) {
  .top-footer__input::-webkit-input-placeholder {
    font-size: calc(0.6875rem + 0.1875 * (100vw - 47.99875rem) / 39.50125);
  }
  .top-footer__input::-moz-placeholder {
    font-size: calc(0.6875rem + 0.1875 * (100vw - 47.99875rem) / 39.50125);
  }
  .top-footer__input:-ms-input-placeholder {
    font-size: calc(0.6875rem + 0.1875 * (100vw - 47.99875rem) / 39.50125);
  }
  .top-footer__input::-ms-input-placeholder {
    font-size: calc(0.6875rem + 0.1875 * (100vw - 47.99875rem) / 39.50125);
  }
  .top-footer__input::placeholder {
    font-size: calc(0.6875rem + 0.1875 * (100vw - 47.99875rem) / 39.50125);
  }
}

.top-footer__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #0156ff;
  border-radius: 50px;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.5;
  padding: 5px 40px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@supports (min-height: clamp( 2.375rem , 1.463660169rem  +  1.8986740926vw , 3.125rem )) {
  .top-footer__button {
    min-height: clamp( 2.375rem , 1.463660169rem  +  1.8986740926vw , 3.125rem );
  }
}

@supports not (min-height: clamp( 2.375rem , 1.463660169rem  +  1.8986740926vw , 3.125rem )) {
  .top-footer__button {
    min-height: calc(2.375rem + 0.75 * (100vw - 47.99875rem) / 39.50125);
  }
}

.top-footer__button:hover {
  background-color: #0745bf;
}

.spollers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 15px;
}

.spollers__title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-height: 35px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: capitalize;
  margin: 0px 0px 5px 0px;
  position: relative;
}

.menu-footer__list {
  color: #fff;
  font-size: 0.8125rem;
  line-height: 1.3846153846;
  text-transform: capitalize;
}

.menu-footer__list_address .menu-footer__link {
  opacity: 0.63;
}

.menu-footer__item:hover {
  text-decoration: underline;
}

.menu-footer__item:not(:last-child) {
  margin: 0px 0px 5px 0px;
}

.menu-footer__link span {
  color: #01a4ff;
}

.bottom-footer__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
}

.bottom-footer__items {
  margin: 0px -7.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 56px;
  row-gap: 15px;
}

.bottom-footer__social {
  padding: 0px 7.5px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bottom-footer__card {
  padding: 0px 7.5px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bottom-footer__copy {
  padding: 0px 7.5px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  text-align: right;
  font-weight: 500;
  line-height: 1.3333333333;
  color: rgba(255, 255, 255, 0.6);
}

@supports (font-size: clamp( 0.625rem , 0.4731100282rem  +  0.3164456821vw , 0.75rem )) {
  .bottom-footer__copy {
    font-size: clamp( 0.625rem , 0.4731100282rem  +  0.3164456821vw , 0.75rem );
  }
}

@supports not (font-size: clamp( 0.625rem , 0.4731100282rem  +  0.3164456821vw , 0.75rem )) {
  .bottom-footer__copy {
    font-size: calc(0.625rem + 0.125 * (100vw - 47.99875rem) / 39.50125);
  }
}

.social-bottom-footer__link {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.social-bottom-footer__link:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.social-bottom-footer__link:not(:last-child) {
  margin: 0px 15px 0px 0px;
}

.social-bottom-footer__image {
  opacity: 0.5;
  max-width: 17px;
  max-height: 17px;
}

.card-bottom-footer__link {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.card-bottom-footer__link:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.card-bottom-footer__link:not(:last-child) {
  margin: 0px 10px 0px 0px;
}

.card-bottom-footer__image {
  max-width: 34px;
  max-height: 22px;
}

.main-block {
  padding: 157px 0px 0px 0px;
}

.main-block__header:not(:last-child) {
  margin: 0px 0px 19px -5px;
}

.main-block__item {
  background-color: #000;
}

.main-block__item_even {
  background-color: #fff;
}

.main-block__container-body {
  max-width: 1156px;
  margin: 0px auto;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  padding: 0px 15px;
}

@supports (padding-top: clamp( 0.9375rem , -5.2315112061rem  +  12.8524413784vw , 6.014375rem )) {
  .main-block__container-body {
    padding-top: clamp( 0.9375rem , -5.2315112061rem  +  12.8524413784vw , 6.014375rem );
  }
}

@supports not (padding-top: clamp( 0.9375rem , -5.2315112061rem  +  12.8524413784vw , 6.014375rem )) {
  .main-block__container-body {
    padding-top: calc(0.9375rem + 5.076875 * (100vw - 47.99875rem) / 39.50125);
  }
}

@supports (padding-bottom: clamp( 0.9375rem , -5.2315112061rem  +  12.8524413784vw , 6.014375rem )) {
  .main-block__container-body {
    padding-bottom: clamp( 0.9375rem , -5.2315112061rem  +  12.8524413784vw , 6.014375rem );
  }
}

@supports not (padding-bottom: clamp( 0.9375rem , -5.2315112061rem  +  12.8524413784vw , 6.014375rem )) {
  .main-block__container-body {
    padding-bottom: calc(0.9375rem + 5.076875 * (100vw - 47.99875rem) / 39.50125);
  }
}

.main-block__container-body_even {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.main-block__container-body_keyboard {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding: 0px 15px;
}

.main-block__container-body_safe {
  padding: 79px 15px 57.44px;
}

.main-block__container-body_quality {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding: 0px 15px;
}

.main-block__container-body_delivery {
  padding: 15px;
}

.main-block__body {
  padding: 32px 0px 0px 0px;
}

@supports (padding-left: clamp( 0.0000000625rem , -10.1766279746rem  +  21.2018605424vw , 8.375rem )) {
  .main-block__body_even {
    padding-left: clamp( 0.0000000625rem , -10.1766279746rem  +  21.2018605424vw , 8.375rem );
  }
}

@supports not (padding-left: clamp( 0.0000000625rem , -10.1766279746rem  +  21.2018605424vw , 8.375rem )) {
  .main-block__body_even {
    padding-left: calc(0.0000000625rem + 8.3749999375 * (100vw - 47.99875rem) / 39.50125);
  }
}

@supports (padding-top: clamp( 0.9375rem , -10.6061378596rem  +  24.0498718395vw , 10.4375rem )) {
  .main-block__body_even {
    padding-top: clamp( 0.9375rem , -10.6061378596rem  +  24.0498718395vw , 10.4375rem );
  }
}

@supports not (padding-top: clamp( 0.9375rem , -10.6061378596rem  +  24.0498718395vw , 10.4375rem )) {
  .main-block__body_even {
    padding-top: calc(0.9375rem + 9.5 * (100vw - 47.99875rem) / 39.50125);
  }
}

@supports (padding-bottom: clamp( 0.9375rem , -10.22641293rem  +  23.2587576343vw , 10.125rem )) {
  .main-block__body_even {
    padding-bottom: clamp( 0.9375rem , -10.22641293rem  +  23.2587576343vw , 10.125rem );
  }
}

@supports not (padding-bottom: clamp( 0.9375rem , -10.22641293rem  +  23.2587576343vw , 10.125rem )) {
  .main-block__body_even {
    padding-bottom: calc(0.9375rem + 9.1875 * (100vw - 47.99875rem) / 39.50125);
  }
}

@supports (padding-top: clamp( 0.0000000625rem , -12.3030875803rem  +  25.6321000918vw , 10.125rem )) {
  .main-block__body_safe {
    padding-top: clamp( 0.0000000625rem , -12.3030875803rem  +  25.6321000918vw , 10.125rem );
  }
}

@supports not (padding-top: clamp( 0.0000000625rem , -12.3030875803rem  +  25.6321000918vw , 10.125rem )) {
  .main-block__body_safe {
    padding-top: calc(0.0000000625rem + 10.1249999375 * (100vw - 47.99875rem) / 39.50125);
  }
}

@supports (padding-bottom: clamp( 0.0000000625rem , -12.2271425944rem  +  25.4738772507vw , 10.0625rem )) {
  .main-block__body_safe {
    padding-bottom: clamp( 0.0000000625rem , -12.2271425944rem  +  25.4738772507vw , 10.0625rem );
  }
}

@supports not (padding-bottom: clamp( 0.0000000625rem , -12.2271425944rem  +  25.4738772507vw , 10.0625rem )) {
  .main-block__body_safe {
    padding-bottom: calc(0.0000000625rem + 10.0624999375 * (100vw - 47.99875rem) / 39.50125);
  }
}

.main-block__body_quality {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

@supports (padding-left: clamp( 0.0000000625rem , -10.4044629323rem  +  21.6765290655vw , 8.5625rem )) {
  .main-block__body_quality {
    padding-left: clamp( 0.0000000625rem , -10.4044629323rem  +  21.6765290655vw , 8.5625rem );
  }
}

@supports not (padding-left: clamp( 0.0000000625rem , -10.4044629323rem  +  21.6765290655vw , 8.5625rem )) {
  .main-block__body_quality {
    padding-left: calc(0.0000000625rem + 8.5624999375 * (100vw - 47.99875rem) / 39.50125);
  }
}

@supports (padding-top: clamp( 0.9375rem , -8.327788282rem  +  19.303186608vw , 8.5625rem )) {
  .main-block__body_quality {
    padding-top: clamp( 0.9375rem , -8.327788282rem  +  19.303186608vw , 8.5625rem );
  }
}

@supports not (padding-top: clamp( 0.9375rem , -8.327788282rem  +  19.303186608vw , 8.5625rem )) {
  .main-block__body_quality {
    padding-top: calc(0.9375rem + 7.625 * (100vw - 47.99875rem) / 39.50125);
  }
}

@supports (padding-bottom: clamp( 0.9375rem , -8.0999533243rem  +  18.8285180849vw , 8.375rem )) {
  .main-block__body_quality {
    padding-bottom: clamp( 0.9375rem , -8.0999533243rem  +  18.8285180849vw , 8.375rem );
  }
}

@supports not (padding-bottom: clamp( 0.9375rem , -8.0999533243rem  +  18.8285180849vw , 8.375rem )) {
  .main-block__body_quality {
    padding-bottom: calc(0.9375rem + 7.4375 * (100vw - 47.99875rem) / 39.50125);
  }
}

.main-block__body_delivery {
  padding: 150px 0px;
}

@supports (padding-top: clamp( 0.9375rem , -9.3910180849rem  +  21.5183063827vw , 9.4375rem )) {
  .main-block__body_delivery {
    padding-top: clamp( 0.9375rem , -9.3910180849rem  +  21.5183063827vw , 9.4375rem );
  }
}

@supports not (padding-top: clamp( 0.9375rem , -9.3910180849rem  +  21.5183063827vw , 9.4375rem )) {
  .main-block__body_delivery {
    padding-top: calc(0.9375rem + 8.5 * (100vw - 47.99875rem) / 39.50125);
  }
}

@supports (padding-bottom: clamp( 0.9375rem , -9.315073099rem  +  21.3600835417vw , 9.375rem )) {
  .main-block__body_delivery {
    padding-bottom: clamp( 0.9375rem , -9.315073099rem  +  21.3600835417vw , 9.375rem );
  }
}

@supports not (padding-bottom: clamp( 0.9375rem , -9.315073099rem  +  21.3600835417vw , 9.375rem )) {
  .main-block__body_delivery {
    padding-bottom: calc(0.9375rem + 8.4375 * (100vw - 47.99875rem) / 39.50125);
  }
}

.main-block__icon:not(:last-child) {
  margin: 0px 0px 9px 0px;
}

.main-block__label {
  color: #fff;
  font-weight: 500;
  line-height: 1.3181818182;
  max-width: 465px;
}

@supports (font-size: clamp( 2rem , 1.088660169rem  +  1.8986740926vw , 2.75rem )) {
  .main-block__label {
    font-size: clamp( 2rem , 1.088660169rem  +  1.8986740926vw , 2.75rem );
  }
}

@supports not (font-size: clamp( 2rem , 1.088660169rem  +  1.8986740926vw , 2.75rem )) {
  .main-block__label {
    font-size: calc(2rem + 0.75 * (100vw - 47.99875rem) / 39.50125);
  }
}

.main-block__label_even {
  color: #000;
}

@supports (margin-bottom: clamp( 0.8125rem , -0.6304547324rem  +  3.0062339799vw , 2rem )) {
  .main-block__label:not(:last-child) {
    margin-bottom: clamp( 0.8125rem , -0.6304547324rem  +  3.0062339799vw , 2rem );
  }
}

@supports not (margin-bottom: clamp( 0.8125rem , -0.6304547324rem  +  3.0062339799vw , 2rem )) {
  .main-block__label:not(:last-child) {
    margin-bottom: calc(0.8125rem + 1.1875 * (100vw - 47.99875rem) / 39.50125);
  }
}

.main-block__text {
  font-weight: 300;
  line-height: 1.4444444444;
  color: #fff;
}

@supports (font-size: clamp( 0.875rem , 0.5712200563rem  +  0.6328913642vw , 1.125rem )) {
  .main-block__text {
    font-size: clamp( 0.875rem , 0.5712200563rem  +  0.6328913642vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.5712200563rem  +  0.6328913642vw , 1.125rem )) {
  .main-block__text {
    font-size: calc(0.875rem + 0.25 * (100vw - 47.99875rem) / 39.50125);
  }
}

.main-block__text_even {
  color: #000;
}

.main-block__paragraph:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.main-block__picture {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.main-block__picture_keyboard {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  position: relative;
}

.main-block__picture_keyboard::before {
  content: "";
  background: -o-radial-gradient(50% 50%, 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 71.35%, #ffffff 100%);
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 71.35%, #ffffff 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.main-block__picture_safe {
  -webkit-transform: rotate(1.09deg);
      -ms-transform: rotate(1.09deg);
          transform: rotate(1.09deg);
  padding: 0px 40px 0px 0px;
}

.main-block__picture_quality {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.main-block__picture_delivery {
  padding: 70px 60px 70px 0px;
}

.main-block__image {
  width: 100%;
}

.main-block__title {
  margin: 0px 0px 21px 0px;
  color: #000;
  line-height: 1.5;
  font-weight: 600;
}

@supports (font-size: clamp( 1.125rem , 0.0617701971rem  +  2.2151197747vw , 2rem )) {
  .main-block__title {
    font-size: clamp( 1.125rem , 0.0617701971rem  +  2.2151197747vw , 2rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 0.0617701971rem  +  2.2151197747vw , 2rem )) {
  .main-block__title {
    font-size: calc(1.125rem + 0.875 * (100vw - 47.99875rem) / 39.50125);
  }
}

.header-main__item {
  display: inline-block;
  position: relative;
}

.header-main__item:not(:last-child) {
  margin: 0px 15px 0px 0px;
}

.header-main__item:not(:last-child)::after {
  content: "";
  background: url("../img/about-us/check.svg") 0 0 no-repeat;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 9px;
  right: -27px;
}

.header-main__link {
  font-size: 0.75rem;
  line-height: 1.5;
  padding: 5px;
}

.header-main__link:hover {
  text-decoration: underline;
}

.main-block__reviews {
  padding: 63px 121px;
}

.reviews__body {
  background: #f5f7ff;
  max-width: 1160px;
  margin: 0px auto;
  padding: 49px 119px;
}

.reviews__text {
  line-height: 1.5;
  background: url("../img/reviews/quotes.svg") 0 0 no-repeat;
  padding: 0px 0px 0px 72px;
}

@supports (font-size: clamp( 0.8125rem , 0.4327750704rem  +  0.7911142052vw , 1.125rem )) {
  .reviews__text {
    font-size: clamp( 0.8125rem , 0.4327750704rem  +  0.7911142052vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 0.8125rem , 0.4327750704rem  +  0.7911142052vw , 1.125rem )) {
  .reviews__text {
    font-size: calc(0.8125rem + 0.3125 * (100vw - 47.99875rem) / 39.50125);
  }
}

.reviews__text:not(:last-child) {
  margin: 0px 0px 7px 0px;
}

.reviews__author {
  line-height: 1.5;
  text-align: right;
}

@supports (font-size: clamp( 0.625rem , 0.3212200563rem  +  0.6328913642vw , 0.875rem )) {
  .reviews__author {
    font-size: clamp( 0.625rem , 0.3212200563rem  +  0.6328913642vw , 0.875rem );
  }
}

@supports not (font-size: clamp( 0.625rem , 0.3212200563rem  +  0.6328913642vw , 0.875rem )) {
  .reviews__author {
    font-size: calc(0.625rem + 0.25 * (100vw - 47.99875rem) / 39.50125);
  }
}

.reviews__author:not(:last-child) {
  margin: 0px 0px 21.5px 0px;
}

.reviews__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-height: 37px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: 2px solid #0156ff;
  border-radius: 50px;
  padding: 5px 26px;
  color: #0156ff;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.5;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.reviews__button:hover {
  background: #0156ff;
  color: #fff;
}

.benefits {
  background: #f5f7ff;
}

.benefits__body {
  max-width: 1055px;
  margin: 0px auto;
  padding: 61px 20px 45px;
}

.benefits__items {
  margin: 0px -65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefits__item {
  padding: 0px 65px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.benefits__item > :last-child {
  margin: 0;
}

.benefits__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 65px;
          flex: 0 0 65px;
  margin: 0px 0px 24px 0px;
}

.benefits__image {
  max-height: 65px;
}

.benefits__title {
  margin: 0px 0px 13px 0px;
  line-height: 1.3333333333;
  font-weight: 700;
}

@supports (font-size: clamp( 0.875rem , 0.5712200563rem  +  0.6328913642vw , 1.125rem )) {
  .benefits__title {
    font-size: clamp( 0.875rem , 0.5712200563rem  +  0.6328913642vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.5712200563rem  +  0.6328913642vw , 1.125rem )) {
  .benefits__title {
    font-size: calc(0.875rem + 0.25 * (100vw - 47.99875rem) / 39.50125);
  }
}

.benefits__text {
  line-height: 1.4285714286;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@supports (font-size: clamp( 0.75rem , 0.5981100282rem  +  0.3164456821vw , 0.875rem )) {
  .benefits__text {
    font-size: clamp( 0.75rem , 0.5981100282rem  +  0.3164456821vw , 0.875rem );
  }
}

@supports not (font-size: clamp( 0.75rem , 0.5981100282rem  +  0.3164456821vw , 0.875rem )) {
  .benefits__text {
    font-size: calc(0.75rem + 0.125 * (100vw - 47.99875rem) / 39.50125);
  }
}

@media (min-width: 47.99875em) {
  .header-top__items {
    min-height: 44px;
  }

  .item-header-top__select {
    margin-right: 5px;
  }

  .header-bottom__container {
    min-height: 92px;
  }

  .icons-header-bottom__form {
    display: none;
  }

  .icons-header-bottom__cart-tablet {
    display: none;
  }

  .icons-header-bottom__login-tablet {
    display: none;
  }

  .footer__items {
    margin: 0px 0px 37px 0px;
  }

  .spollers__item:last-child {
    margin: 0px 63px 0px 0px;
  }

  .spollers__item:not(:last-child) {
    margin: 0px 15px 0px 0px;
  }

  .bottom-footer {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }

  .main-block__container-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .main-block__body {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }

  .main-block__text {
    max-width: 436px;
  }
}

@media (max-width: 40em) {
  .bottom-footer__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0px 0px 15px 0px;
  }

  .bottom-footer__social {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .bottom-footer__card {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .bottom-footer__copy {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 470px) {
  .benefits__items {
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .benefits__item:not(:last-child) {
    padding: 0;
    margin: 0px 0px 20px 0px;
  }
}

@media (max-width: 87.5em) {
  .main-block__reviews {
    padding: 20px 20px;
  }

  .reviews__body {
    padding: 19px 34px;
  }
}

@media (max-width: 61.99875em) {
  .item-header-top__social {
    display: none;
  }
}

@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

@supports (margin-right: clamp( 0.6875rem , -2.0556743003rem  +  11.7048346056vw , 3.5625rem )) {
    .icon-menu {
      margin-right: clamp( 0.6875rem , -2.0556743003rem  +  11.7048346056vw , 3.5625rem );
    }
}

@supports not (margin-right: clamp( 0.6875rem , -2.0556743003rem  +  11.7048346056vw , 3.5625rem )) {
    .icon-menu {
      margin-right: calc(0.6875rem + 2.875 * (100vw - 23.43625rem) / 24.5625);
    }
}

@supports (margin-left: clamp( 0.75rem , -0.0848791349rem  +  3.5623409669vw , 1.625rem )) {
    .icon-menu {
      margin-left: clamp( 0.75rem , -0.0848791349rem  +  3.5623409669vw , 1.625rem );
    }
}

@supports not (margin-left: clamp( 0.75rem , -0.0848791349rem  +  3.5623409669vw , 1.625rem )) {
    .icon-menu {
      margin-left: calc(0.75rem + 0.875 * (100vw - 23.43625rem) / 24.5625);
    }
}

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .header-top__container {
    margin: 0px -15px;
  }

  .header-top__item:last-child {
    display: none;
  }

  .item-header-top__select {
    margin-left: 95px;
  }

@supports (margin-left: clamp( 5.25rem , 4.5940235369rem  +  2.7989821883vw , 5.9375rem )) {
    .item-header-top__select {
      margin-left: clamp( 5.25rem , 4.5940235369rem  +  2.7989821883vw , 5.9375rem );
    }
}

@supports not (margin-left: clamp( 5.25rem , 4.5940235369rem  +  2.7989821883vw , 5.9375rem )) {
    .item-header-top__select {
      margin-left: calc(5.25rem + 0.6875 * (100vw - 23.43625rem) / 24.5625);
    }
}

  .item-header-top__location {
    display: none;
  }

@supports (margin-right: clamp( 1.125rem , 0.5286577608rem  +  2.5445292621vw , 1.75rem )) {
    .item-header-top__contact {
      margin-right: clamp( 1.125rem , 0.5286577608rem  +  2.5445292621vw , 1.75rem );
    }
}

@supports not (margin-right: clamp( 1.125rem , 0.5286577608rem  +  2.5445292621vw , 1.75rem )) {
    .item-header-top__contact {
      margin-right: calc(1.125rem + 0.625 * (100vw - 23.43625rem) / 24.5625);
    }
}

  .item-header-top__tel {
    display: none;
  }

  .header-bottom__container {
    background-color: #0156ff;
    margin: 0px -15px;
  }

  .header-bottom__logo {
    position: absolute;
    -webkit-transform: translate(5px, -47px);
        -ms-transform: translate(5px, -47px);
            transform: translate(5px, -47px);
    padding: 5px 0px 0px 22px;
    background: url("../img/header/logo-bg.svg") 0px 0 no-repeat;
    width: 64px;
    height: 30px;
  }

  .header-bottom__menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 53px;
            flex: 0 1 53px;
  }

  .header-bottom__menu:not(:last-child) {
    margin: 0px 0px 0px 0px;
  }

  .header-bottom__button {
    display: none;
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.827);
    padding: 100px 30px 30px 30px;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
    font-size: 1.25rem;
    color: #fff;
  }

  .icons-header-bottom {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

@supports (margin-right: clamp( 0.5625rem , -1.1072582697rem  +  7.1246819338vw , 2.3125rem )) {
    .icons-header-bottom__form {
      margin-right: clamp( 0.5625rem , -1.1072582697rem  +  7.1246819338vw , 2.3125rem );
    }
}

@supports not (margin-right: clamp( 0.5625rem , -1.1072582697rem  +  7.1246819338vw , 2.3125rem )) {
    .icons-header-bottom__form {
      margin-right: calc(0.5625rem + 1.75 * (100vw - 23.43625rem) / 24.5625);
    }
}

  .icons-header-bottom__input {
    background: url("../img/header/search-tablet.svg") 15px 12px/15px no-repeat, #fff;
  }

  .icons-header-bottom__search {
    display: none;
  }

  .icons-header-bottom__cart {
    display: none;
  }

  .icons-header-bottom__span_tablet {
    color: #0156ff;
    background-color: #fff;
    right: -32px;
    top: -30px;
  }

  .icons-header-bottom__login {
    display: none;
  }

  .footer__container {
    padding: 0px 23px;
  }

  .footer__top {
    padding: 35px 0px 0px 0px;
  }

  .footer__items {
    padding: 0px 62px;
  }

  .footer__items {
    padding: 0px;
  }

  .top-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .top-footer:not(:last-child) {
    margin: 0px 0px 15px 0px;
  }

  .top-footer__input {
    font-size: 0.6875rem;
    margin: 0px 8px 0px 0px;
  }

@supports (width: clamp( 17.5rem , -9.1167192429rem  +  90.6101080609vw , 34.375rem )) {
    .top-footer__input {
      width: clamp( 17.5rem , -9.1167192429rem  +  90.6101080609vw , 34.375rem );
    }
}

@supports not (width: clamp( 17.5rem , -9.1167192429rem  +  90.6101080609vw , 34.375rem )) {
    .top-footer__input {
      width: calc(17.5rem + 16.875 * (100vw - 29.375rem) / 18.62375);
    }
}

  .top-footer__button {
    padding: 5px 29px;
  }

  .spollers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .spollers__title {
    width: 100%;
    font-size: 0.6875rem;
    color: #e5ecf1;
    border-bottom: 1px solid #a2a6b0;
  }

  .spollers__title::after {
    content: "";
    background: url("../img/footer/arrow.svg") 0 0 no-repeat;
    position: absolute;
    width: 10px;
    height: 10px;
    top: 6px;
    right: 3px;
  }

  .spollers__title._spoller-active {
    border-bottom: none;
    margin: 0;
  }

  .spollers__title._spoller-active::after {
    top: 2px;
    right: 6px;
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }

  .menu-footer__list {
    margin: 0px 0px 15px 0px;
    border-bottom: 1px solid #a2a6b0;
    padding: 0px 0px 12px 15px;
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 1.6666666667;
  }

  .social-bottom-footer__link:not(:last-child) {
    margin: 0px 8px 0px 0px;
  }

  .main-block {
    padding: 125px 0px 0px 0px;
  }

  .main-block__header:not(:last-child) {
    margin: 0px 0px 10px -5px;
  }

  .main-block__container-body {
    padding: 15px;
  }

  .main-block__container-body_even {
    padding: 15px;
  }

  .main-block__container-body_keyboard {
    padding: 15px;
  }

  .main-block__container-body_safe {
    padding: 15px;
  }

  .main-block__container-body_quality {
    padding: 15px;
  }

  .main-block__body {
    padding: 0;
  }

  .main-block__body_even {
    padding: 0;
  }

  .main-block__body_quality {
    padding: 0;
  }

  .main-block__body_delivery {
    padding: 0;
  }

  .main-block__label {
    line-height: 1.3125;
  }

  .main-block__text {
    line-height: 1.4285714286;
  }

  .main-block__paragraph:not(:last-child) {
    margin: 0px 0px 20px 0px;
  }

  .main-block__picture {
    display: none;
  }

  .main-block__title {
    line-height: 1.5;
    margin: 0px 0px 10px 0px;
  }

  .header-main__link:not(:last-child) {
    margin: 0px 0px 13px 0px;
  }

  .main-block__reviews {
    padding: 20px 0px;
  }

  .reviews__body {
    max-width: 668px;
    margin: 0px auto;
    padding: 15px;
  }

  .reviews__text {
    line-height: 1.5384615385;
    padding: 0px 0px 0px 30px;
    background: url("../img/reviews/quotes.svg") 0 0/20px no-repeat;
  }

  .reviews__author {
    line-height: 1.5;
  }

  .reviews__author:not(:last-child) {
    margin: 0;
  }

  .benefits__body {
    padding: 25px 20px;
  }

  .benefits__items {
    margin: 0px -10px;
  }

  .benefits__item {
    padding: 0px 10px;
  }

  .benefits__icon {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45px;
            flex: 0 0 45px;
    margin: 0px 0px 7px 0px;
  }

  .benefits__image {
    max-height: 45px;
  }

  .benefits__title {
    margin: 0px 0px 5px 0px;
  }
}

@media (max-width: 29.375em) {
  .top-footer__form {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }

  .top-footer__input {
    width: 100%;
    margin: 0px 0px 15px 0px;
  }

  .top-footer__button {
    width: 100%;
  }
}

@media (max-width: 23.43625em) {
@supports (margin-right: clamp( 0.3125rem , -6.2353355766rem  +  32.7391778829vw , 1.4375rem )) {
    .item-header-top__select {
      margin-right: clamp( 0.3125rem , -6.2353355766rem  +  32.7391778829vw , 1.4375rem );
    }
}

@supports not (margin-right: clamp( 0.3125rem , -6.2353355766rem  +  32.7391778829vw , 1.4375rem )) {
    .item-header-top__select {
      margin-right: calc(0.3125rem + 1.125 * (100vw - 20rem) / 3.43625);
    }
}

@supports (margin-left: clamp( 4.375rem , -0.717761004rem  +  25.46380502vw , 5.25rem )) {
    .item-header-top__select {
      margin-left: clamp( 4.375rem , -0.717761004rem  +  25.46380502vw , 5.25rem );
    }
}

@supports not (margin-left: clamp( 4.375rem , -0.717761004rem  +  25.46380502vw , 5.25rem )) {
    .item-header-top__select {
      margin-left: calc(4.375rem + 0.875 * (100vw - 20rem) / 3.43625);
    }
}

@supports (width: clamp( 10.3125rem , -12.2411558749rem  +  112.7682793743vw , 14.1875rem )) {
    .icons-header-bottom__input {
      width: clamp( 10.3125rem , -12.2411558749rem  +  112.7682793743vw , 14.1875rem );
    }
}

@supports not (width: clamp( 10.3125rem , -12.2411558749rem  +  112.7682793743vw , 14.1875rem )) {
    .icons-header-bottom__input {
      width: calc(10.3125rem + 3.875 * (100vw - 20rem) / 3.43625);
    }
}

  .footer__container {
    padding: 0px 23px;
  }

  .menu-footer__list {
    padding: 0px 0px 8px 12px;
  }

  .main-block__picture {
    margin: 0px -15px 17px;
  }

  .main-block__picture_keyboard {
    margin-bottom: 0;
  }

  .main-block__picture_safe {
    max-width: 218px;
    padding: 0;
    margin-bottom: 0;
  }

  .main-block__picture_quality {
    margin-bottom: 0;
  }

  .main-block__picture_delivery {
    padding: 0;
    margin: 22px 0px 10px;
    max-width: 111px;
  }

  .header-main__link:not(:last-child) {
    margin: 0px 0px 10px 0px;
  }
}

@media (max-width: 21.25em) {
  .top-footer__body {
    text-align: center;
    margin: 0;
  }
}

@media (max-width: 23.43625em) and (min-width: 23.43625em) {
  .icons-header-bottom__input {
    width: inherit;
  }
}